<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="microstrain_imu_gazebo" params="name:=imu_sensor
                                                     imu_link:=imu_link
                                                     frame_name:=imu_link
                                                     topic_name:=/imu/data
                                                     update_rate:=500">
    <gazebo reference="${imu_link}">
      <gravity>true</gravity>
      <sensor type="imu" name="${name}">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
        <topic>${topic_name}</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <ros>
            <remapping>~/out:=${topic_name}</remapping>
          </ros>
          <topicName>${topic_name}</topicName>
          <bodyName>${imu_link}</bodyName>
          <updateRateHZ>${update_rate}</updateRateHZ>
          <gaussianNoise>0.0025</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>${frame_name}</frameName>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
